In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stats1
import warnings
warnings.simplefilter('ignore')

In [3]:
data = pd.read_csv('census_data_encoded.csv')
data.drop(columns='Unnamed: 0',axis=1,inplace=True)
data.head()

,fnlwgt,edu-num,capital-gain,capital-loss,hrs-per-week,earnings,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male
0,77516,13,2174,0,40,0,39,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,83311,13,0,0,13,0,50,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,215646,9,0,0,40,0,38,0,0,0,...,1,0,0,0,0,0,0,0,1,1
3,234721,7,0,0,40,0,53,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,338409,13,0,0,40,0,28,0,0,0,...,0,0,0,0,1,0,1,0,0,0

# Train Test Split

In [7]:
X = data.drop('earnings', axis=1)
y = data['earnings']

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.33, random_state=32)

In [9]:
print("X_train row number :",X_train.shape[0])
print("X_test row number :",X_test.shape[0])
print("y_train row number :",y_train.shape[0])
print("y_test row number :",y_test.shape[0])

X_train row number : 21297
X_test row number : 10490
y_train row number : 21297
y_test row number : 10490

In [10]:
data.earnings.value_counts()

0    24155
1     7632
Name: earnings, dtype: int64

# Scaling Data

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Pickiling Model