In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('encoded_df/census_encoded.csv')
data.drop(columns='Unnamed: 0',axis=1,inplace=True)
data.head()

,fnlwgt,edu-num,capital-gain,capital-loss,hrs-per-week,earnings,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male
0,77516,13,2174,0,40,0,39,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,83311,13,0,0,13,0,50,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,215646,9,0,0,40,0,38,0,0,0,...,1,0,0,0,0,0,0,0,1,1
3,234721,7,0,0,40,0,53,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,338409,13,0,0,40,0,28,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [4]:
x = data.drop(columns='earnings')
y = data['earnings']

In [5]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.30,random_state=42)

In [8]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification

model_bagging_svc = BaggingClassifier(base_estimator=SVC(),n_estimators=50, random_state=42).fit(xtrain, ytrain)


ypred_bagging=model_bagging_svc.predict(xtest)

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypred_bagging)

0.794065219670756

In [10]:
from sklearn import tree
clf = tree.DecisionTreeClassifier().fit(x,y)
ypred_tree = clf.predict(xtest)
accuracy_score(ytest,ypred_tree)

0.9992660165670546

In [11]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier(random_state=42).fit(x,y)
ypred_rf = clf.predict(xtest)
accuracy_score(ytest,ypred_rf)

0.9992660165670546

In [12]:
from sklearn.ensemble import VotingClassifier
vc1 = VotingClassifier(estimators=[('bagging',model_bagging_svc),('decision tree',clf),('random forest',clf2)],voting='hard').fit(x,y)
ypred_vc1 = vc1.predict(xtest)
accuracy_score(ytest,ypred_vc1)

0.9991611617909196